<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <h1>Vasa narudzba</h1>
    <h2><%= jelo %></h2>

    <h1></h1>
  </body>
</html>
